
<form nz-form [formGroup]="validateForm" class="login-form from-login-tick border-left-from" #myform="ngForm">

    <p class="bold-p">
       Nouvel utilisateur
    </p>

    <nz-form-item class="p-inp w-inp" nzJustify='center'>
      <nz-form-label [nzSpan]="0" nzFor="email" nzRequired>Pseudo</nz-form-label>
      <nz-form-control [nzSm]="0" [nzXs]="0" nzErrorTip="Adresse e-mail obligatoire / pseudo" class="w-inp">
        <input ngModel class="w-inp" nz-input formControlName="email" id="email" placeholder="Adresse e-mail obligatoire / pseudo" name="email" required/>
      </nz-form-control>
    </nz-form-item>
 
      <nz-form-item class="p-inp w-inp" nzJustify='center'>       
      <nz-form-label [nzSpan]="0" nzFor="password" nzRequired>Mot de passe</nz-form-label>
      <nz-form-control [nzSm]="0" [nzXs]="0" class="w-inp" nzErrorTip="Le mot de passe est obligatoire">
        <input ngModel  type="password" nz-input formControlName="password" value="12345" placeholder="Votre mot de passe" name="password" required/>
      </nz-form-control>
    </nz-form-item>


    <nz-form-item class="p-inp w-inp" nzJustify='center'>

      <nz-form-label [nzSpan]="0" nzFor="names" nzRequired>Nom complet de l'utilisateur</nz-form-label>
      <nz-form-control [nzSm]="0" [nzXs]="0" class="w-inp" nzErrorTip="Nom complet de l'utilisateur obligatoire">
        <input ngModel class="w-inp" nz-input id="names" formControlName="names" placeholder="Nom complet de l'utilisateur" name="names"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nzJustify='center'>
      <nz-form-label [nzSpan]="0" nzFor="site" nzRequired>Site de l'utilisteur</nz-form-label>
      <nz-form-control [nzSpan]="0" nzErrorTip="Vous devez selectionner le site de l'utilisateur">
        <nz-select
          id="site"
          formControlName="site"
          nzPlaceHolder="Selectionner le site de l'utilisateur"
          (ngModelChange)="siteChange($event)" 
         >
  
          <nz-option *ngFor="let item of listSites"
        nzValue="{{item.id}}"
        nzLabel="{{item.name}}">
        {{item.name}
        </nz-option>
  
        </nz-select>
      </nz-form-control>
    </nz-form-item>



    <nz-form-item nzJustify='center'>
      <nz-form-label [nzSpan]="0" nzFor="direction_value" nzRequired>Direction de l'utilisateur</nz-form-label>
      <nz-form-control [nzSpan]="0" nzErrorTip="Vous devez selectionner la direction de l'utilisateur">
        <nz-select
          id="direction_value"
          formControlName="direction"
          nzPlaceHolder="Selectionner la direction de l'utilisateur"
          (ngModelChange)="directionChange($event)" 
         >
  
          <nz-option *ngFor="let item of listDirections"
        nzValue="{{item.id}}"
        nzLabel="{{item.name}}">
        {{item.name}
        </nz-option>
  
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nzJustify='center'>
      <nz-form-label [nzSpan]="0" nzFor="profil" nzRequired>Profil de l'utilisteur</nz-form-label>
      <nz-form-control [nzSpan]="0" nzErrorTip="Vous devez selectionner le profil de l'utilisateur">
        <nz-select
          id="profil"
          ngModel
          [(ngModel)]="profil_value"
          formControlName="profil"
          nzPlaceHolder="Selectionner le profil de l'utilisateur"
          (ngModelChange)="profilChange($event)" 
         >
  
          <nz-option *ngFor="let item of listProfil"
        nzValue="{{item}}"
        nzLabel="{{item}}">
        {{item}}
        </nz-option>
  
        </nz-select>
      </nz-form-control>
    </nz-form-item>
   

  
    <nz-form-item nz-row class="register-area p-button" >
      <nz-form-control [nzSpan]="0" [nzOffset]="0">
        <!-- <button nz-button nzType="primary"  (click)="add(myform,$event)" name="Submit" value="Login" type="button">Enregistrer</button> -->

        <button nz-button nzType="primary" (click)="add(myform,$event)" name="Submit" value="Login" type="button" [nzLoading]="isLoadingOne">
          <!-- <i nz-icon nzType="poweroff"></i> -->
          Enregistrer
        </button>
        <button nz-button (click)="resetForm($event)" style="margin-left: 10px;">Réinitialiser</button>

      </nz-form-control>
    </nz-form-item>
  </form>
  

