[nz-form] {
  max-width: 600px;
}

.phone-select {
  width: 70px;
}

.register-are {
  margin-bottom: 8px;
}

.p-button{
  padding-top: 20px;
}


.w-inp{
  width: 100%;
}

.p-inp{
  margin-right: 0px;
}

.border-left-from {
  margin-left: 30px;
  border-left: 1px solid rgb(219, 215, 215);
  padding-left: 50px;
  padding-right: 50px;
}

.bold-p {
  font-weight: bold;
  font-size: 30px;
  margin:0 auto;
  margin-bottom: 20px;
}

.parentDiv {
  display:flex;
  height:100%;
  width:100%;
 
}


::ng-deep .ant-form-item-label {
  text-align: left;
  display: block;
}
::ng-deep .ant-select {
  display: block;
}
::ng-deep .ant-form-item {
  display: block;
  margin-bottom: 0px;
}