<div class="border-left-from">

<form nz-form [formGroup]="validateForm" nz-space nzAlign="start" class="space-align-block" #myform="ngForm">

  <p class="bold-p">
    Nouveau Ticket
 </p>


  <nz-form-item nzJustify='center' >
    <nz-form-label [nzSpan]="0" nzFor="requestor" nzRequired>Demandeur</nz-form-label>
    <nz-form-control [nzSpan]="0" nzErrorTip="Vous devez selectionner un demandeur">
      <nz-select 
      [(ngModel)]="nrSelect"
        id="requestor"
        formControlName="requestor"
        nzPlaceHolder="Selectionner votre demandeur"
        (ngModelChange)="requestorChange($event)"      >
        <nz-option *ngFor="let item of listRequestor; index as i"
        [nzValue]="item.id_user"
        nzLabel="{{item.names}}"
       
        >
        {{item.names}}
        </nz-option>
      
      </nz-select>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item nzJustify='center'>
    <nz-form-label [nzSpan]="0" nzFor="type_incident" nzRequired>Type d'incident</nz-form-label>
    <nz-form-control [nzSpan]="0" nzErrorTip="Vous devez selectionner le type d'incident">
      <nz-select
        id="type_incident"
        formControlName="type_incident"
        nzPlaceHolder="Selectionner le type d'incident"
        (ngModelChange)="typeIncidentChange($event)" 
      >
      <nz-option *ngFor="let item of listTypeIncident"
      nzValue="{{item.id}}"
      nzLabel="{{item.name}}">
      {{item.name}}
      </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item nzJustify='center'>
    <nz-form-label [nzSpan]="0" nzRequired>Titre</nz-form-label>
    <nz-form-control [nzSpan]="0" nzHasFeedback nzValidatingTip="Validation..." [nzErrorTip]="userErrorTpl">
      <input nz-input formControlName="titre" placeholder="Titre du ticket" name="titre" ngModel/>
      <ng-template #userErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Svp entrez le titre du ticket</ng-container>
        <ng-container *ngIf="control.hasError('duplicated')">Le tritre est redondant</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
 


  <nz-form-item nzJustify='center'>
    <nz-form-label [nzSpan]="0">Description</nz-form-label>
    <nz-form-control [nzSpan]="0">
      <textarea (ngModelChange)="descriptionChange($event)"   formControlName="description" nz-input rows="5" placeholder="Saisissez votre description ici" name="description" ngModel></textarea>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item nzJustify='center'>
    <nz-form-label [nzSpan]="0" nzFor="priority" nzRequired>Priorité</nz-form-label>
    <nz-form-control [nzSpan]="0" nzErrorTip="Vous devez selectionner la priorité">
      <nz-select
        id="priority"
        formControlName="priority"
        nzPlaceHolder="Selectionner la priorité de la demande"
        (ngModelChange)="priorityChange($event)" 
      >
      <nz-option *ngFor="let item of listPriority"
      nzValue="{{item.id}}"
      nzLabel="{{item.name}}">
      {{item.name}}
      </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nzJustify='center'>
    <nz-form-label [nzSpan]="0" nzFor="delai" nzRequired>Delai résolution (En Heure) : </nz-form-label>
    <nz-form-control [nzSpan]="0" nzErrorTip="Vous devez selectionner le delai de résolution (Par heure)">
      <nz-select
        id="delai"
        formControlName="delai"
        nzPlaceHolder="Selectionner le delai de résolution estimé"
        (ngModelChange)="delaiChange($event)" 
       >

        <nz-option *ngFor="let item of listDelaiResolution"
      nzValue="{{item}}"
      nzLabel="{{item}}">
      {{item}}
      </nz-option>

      </nz-select>
    </nz-form-control>
  </nz-form-item>

<nz-form-item nzJustify='center'>
  <nz-form-control [nzSpan]="0">

  <nz-upload
  nzType="drag"
  nzAction="UPLOAD_FILE"
  [nzMultiple]="false"
  [nzBeforeUpload]="beforeUpload"
  (nzChange)="handleChange($event)"
>
  <p class="ant-upload-drag-icon">
    <i nz-icon nzType="inbox"></i>
  </p>
  <p class="ant-upload-text">Cliquez ou glissez un fichier image ici pour l'attacher à votre ticket</p>
  <p class="ant-upload-hint">
    Supporte seulement les images aux formats suivants (png* et jpg*)
  </p>
</nz-upload>
</nz-form-control>
</nz-form-item>
 
</form>

<div class="parentDiv" style="margin-top: 10px;" >
<span  class="ant-rate-text" style="margin-top: 10px;">Signalez la criticité du ticket</span>
<span  class="ant-rate-text" style="margin-top: 10px;">{{base64Output}}</span>
<nz-rate [(ngModel)]="criticity_value"></nz-rate>
</div>

<nz-form-item  nz-row class="register-area p-button">
  <nz-form-control [nzSpan]="0" [nzOffset]="0">
    <button nz-button nzType="primary" (click)="add(myform,$event)" name="Submit" value="Login" type="button" [nzLoading]="isLoadingOne">Enregistrer</button>
    <button nz-button (click)="resetForm($event)" style="margin-left: 10px;">Réinitialiser</button>
  </nz-form-control>
</nz-form-item>


</div>