<div nz-row>
  <div nz-col nzFlex="2.5"> <app-ticket-list-item-open [listOfData]="listOfData"></app-ticket-list-item-open></div>
  <div nz-col nzFlex="1.5"> <app-ticket-new (newTicketEvent)="addItem($event)"></app-ticket-new></div>
</div>