<div nz-row>
  <div nz-col nzFlex="3"> <app-requestor-list-item [listOfData]="listOfData"></app-requestor-list-item></div>
  <div nz-col nzFlex="2"> <app-requestor-new (newRequestorEvent)="addItem($event)"></app-requestor-new></div>
</div>
