
<nz-table [nzLoading]="loading" #filterTable [nzData]="listOfData" nzTableLayout="fixed">
  <thead>
    <tr>
      <th
        *ngFor="let column of listOfColumns"
        [nzSortOrder]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
        [nzFilterMultiple]="column.filterMultiple"
        [nzFilters]="column.listOfFilter"
        [nzFilterFn]="column.filterFn"
      >
        {{ column.name }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of filterTable.data ; let i = index" >
      <td>{{ data.requestor.names }}</td>
      <td>{{ data.title_it===null ? data.title_requestor:data.title_it }}</td>
      <td>{{ data.priority_it===null ? data.priority_requestor.name : data.priority_it.name }}</td>
      <td>
        <nz-rate *ngIf="data.priority_it===null" [ngModel]= data.criticality_requestor  nzDisabled></nz-rate>
        <nz-rate *ngIf="data.priority_it!=null" [ngModel]= data.criticality_it  nzDisabled></nz-rate>
      </td>
      <td>{{ data.date_create | date:'dd/MM/yyy, h:mm'  }}</td>
      <td ><p class="{{data.status}}">{{ data.status }}</p></td>
      <td>{{ data.delai_resolution_requestor +" H"}}</td>

     
    </tr>
  </tbody>
</nz-table>

