.Ouvert{
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    width: 60px;
    height: 25px;
    text-align: center;
    padding: 2px;
}


.Suspens{
    border-radius: 5px;
    background-color: coral;
    color: white;
    width: 60px;
    height: 25px;
    text-align: center;
    padding: 2px;
}


.Resolu{
    border-radius: 5px;
    background-color:forestgreen;
    color: white;
    width: 60px;
    height: 25px;
    text-align: center;
    padding: 2px;
}


.Cloture{
    border-radius: 5px;
    background-color: forestgreen;
    color: white;
    width: 60px;
    height: 25px;
    text-align: center;
    padding: 2px;
}

::ng-deep .ant-table-row{
    height: 30px;
}