

  <nz-table [nzLoading]="loading" #filterTable [nzData]="listOfData" nzTableLayout="fixed">
    <thead>
      <tr>
        <th
          *ngFor="let column of listOfColumns"
          [nzSortOrder]="column.sortOrder"
          [nzSortFn]="column.sortFn"
          [nzSortDirections]="column.sortDirections"
          [nzFilterMultiple]="column.filterMultiple"
          [nzFilters]="column.listOfFilter"
          [nzFilterFn]="column.filterFn"
        >
          {{ column.name }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of filterTable.data; let i = index">
        <td>{{ data.email }}</td>
        <td>{{ data.names }}</td>
        <td>{{ data.profil==1 ? "Administrateur" :"Autres" }}</td>
      </tr>
    </tbody>
  </nz-table>

  

