<div nz-row>
  <div nz-col nzFlex="3"> <app-account-list-item [listOfData]="listOfData"></app-account-list-item></div>
  <div nz-col nzFlex="2"> <app-account-new (newAccountEvent)="addItem($event)"></app-account-new></div>

</div>
