
      .login-form {
        max-width: 300px;
      }

      .login-form-margin {
        margin-bottom: 16px;
      }

      .login-form-forgot {
        float: right;
      }

      .login-form-button {
        width: 100%;
      }

      .contenair{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: 100%;
      height: 100%;

      }

      .from-login-tick{
        width: 300px;
      }

      .view-block{
      display: block;
      width: 150px;
      height: 150px;
      }

      .view-block-pad{
        padding: 0px 0px 20px 0px;
        }

        .progressload{
          display: block;
          margin: auto;
          margin-top: 20px;
          width: 25px;
          height: 25px;
        }
    