

<div class="contenair">

 <!--  <div class="view-block-pad">
  <i nz-icon nzType="safety-certificate" class="view-block" nzTheme="outline"></i>
  </div> -->

  <div >
    <form nz-form [formGroup]="validateForm" class="login-form from-login-tick" #myform="ngForm">
      <nz-form-item>
        <nz-form-control nzErrorTip="Votre pseudo est obligatoire">
          <nz-input-group nzPrefixIcon="user">
            <input ngModel  type="text" nz-input formControlName="email" placeholder="Votre pseudo" name="email"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Votre mot de passe est obligatoire">
          <nz-input-group nzPrefixIcon="lock">
            <input ngModel  type="password" nz-input formControlName="password" value="12345" placeholder="Votre mot de passe" name="password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      
      <button [disabled]="statusEnable" nz-button class="login-form-button login-form-margin" [nzType]="'primary'" (click)="login(myform)" name="Submit" value="Login" type="button">Connexion</button>

      <img *ngIf="progress" src="../../../assets/images/loadprogress.gif" class="progressload">

      <h6 style="font-size: 14px; text-justify: auto; color: firebrick;  margin-bottom: 15px; margin-top: 15px;" *ngIf="!connect">{{errorMessage}} </h6>

    </form>

   
  </div>

  </div>