<nz-layout>
 
  <nz-breadcrumb style="margin-left: 10px;">
    <nz-breadcrumb-item>Paramètres</nz-breadcrumb-item>
    <nz-breadcrumb-item>{{sub_link_menu}}</nz-breadcrumb-item>
   
  </nz-breadcrumb>

  <nz-layout class="inner-layout">
    <nz-sider nzWidth="200px" nzTheme="light">
      <ul nz-menu nzMode="inline" class="sider-menu">
        <li nz-menu-item nzSelected (click)="changeMenu('Compte utilisateur')" routerLinkActive="active"><a routerLink="account"><i nz-icon nzType="user-add" nzTheme="outline"></i> Compte</a></li>
        <li nz-menu-item (click)="changeMenu('Profil')"><a routerLink="profil"><i nz-icon nzType="file-protect" nzTheme="outline"></i> Profil</a></li>
      </ul>
    </nz-sider>
    <nz-content class="inner-content">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>


</nz-layout>