<form nz-form [formGroup]="validateForm" class="login-form from-login-tick border-left-from" #myform="ngForm">

  <p class="bold-p">
    Nouveau type d'incident
 </p>

  <nz-form-item class="p-inp" nzJustify='center'>
    <nz-form-label [nzSpan]="0" nzFor="site" nzRequired>Type Incident</nz-form-label>
    <nz-form-control [nzSm]="0" [nzXs]="0" nzErrorTip="Ce champ est obligatoire" class="w-inp">
      <input class="w-inp" nz-input formControlName="name" id="name" placeholder="Saisissez un type d'incident" />
    </nz-form-control>
  </nz-form-item>



 <nz-form-item nz-row class="register-area p-button" >
   <nz-form-control [nzSpan]="0" [nzOffset]="0">
     <!-- <button nz-button nzType="primary"  (click)="add(myform,$event)" name="Submit" value="Login" type="button">Enregistrer</button> -->

     <button nz-button nzType="primary" (click)="add(myform,$event)" name="Submit" value="Login" type="button" [nzLoading]="isLoadingOne">
      <!-- <i nz-icon nzType="poweroff"></i> -->
      Enregistrer
    </button>
     <button nz-button (click)="resetForm($event)" style="margin-left: 10px;">Réinitialiser</button>
   </nz-form-control>
 </nz-form-item>

</form>