<div nz-row>

 
  <div nz-col nzSpan="8">
    <form nz-form [formGroup]="validateForm" nz-space nzAlign="start" #myform="ngForm" nz-form>
      <nz-input-group nzSearch [nzSuffix]="suffixIconSearch" style="width: 400px;margin-bottom: 20px;">
        <input type="text"  nz-input placeholder="Saisissez votre mot clé de la recherche ici" name="word_search" (ngModelChange)="searchData(myform)" formControlName="word_search" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </form>

  </div>
      
  
  <div nz-col nzSpan="8" nzOffset="0">

   <!--  <button nz-button nzType="primary">
      <i nz-icon nzType="calendar"></i>
      Définir une période
    </button> -->
    
    <nz-range-picker [nzSize]="size"></nz-range-picker>

    <nz-button-group>
      <button nz-button >Exportation de ticket</button>
      <button nz-button nz-dropdown [nzDropdownMenu]="menu1" nzPlacement="bottomRight">
        <i nz-icon nzType="ellipsis"></i>
      </button>
    </nz-button-group>
  
    <nz-dropdown-menu #menu1="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="exportToFile()">Exportation en Excel</li>
        <li nz-menu-item (click)="printTicketPDF()">Exportation en PDF</li>
      </ul>
    </nz-dropdown-menu>
  
  </div>

</div>

<div nz-row>
  <nz-table [nzLoading]="loading" #filterTable [nzData]="listOfData" nzTableLayout="fixed">
    <thead>
      <tr>
        <th
          *ngFor="let column of listOfColumns"
          [nzSortOrder]="column.sortOrder"
          [nzSortFn]="column.sortFn"
          [nzSortDirections]="column.sortDirections"
          [nzFilterMultiple]="column.filterMultiple"
          [nzFilters]="column.listOfFilter"
          [nzFilterFn]="column.filterFn"
        >
          {{ column.name }}
        </th>
      </tr>
    </thead>
    
    <tbody>
      <tr *ngFor="let data of filterTable.data; let i = index"  [id_item]=data.id>
        <td>{{ data.requestor.names }}</td>
        <td>{{ data.title_it===null ? data.title_requestor:data.title_it }}</td>
        <td>{{ data.priority_it===null ? data.priority_requestor.name : data.priority_it.name }}</td>
        <td>
          <nz-rate *ngIf="data.priority_it===null" [ngModel]= data.criticality_requestor  nzDisabled></nz-rate>
          <nz-rate *ngIf="data.priority_it!=null" [ngModel]= data.criticality_it  nzDisabled></nz-rate>
        
        </td>
        <td>{{ data.date_create | date:'dd/MM/yyy, h:mm' }}</td>
        <td ><p class="{{data.status}}">{{ data.status }}</p></td>
        <td>{{ data.delai_resolution_requestor +" H"}}</td>
        <td nzRight>
          <a *ngIf="data.status==='Ouvert'" (click)="open(data.id)"><img src="../../../../assets/images/updateicon.svg" class="open-link_update-ticket" style="margin-right: 10px;"/> </a>
          <a  (click)="viewTicket(data.id)"><img src="../../../../assets/images/view_item.svg" class="open-link_update-ticket" /> </a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>




<nz-drawer
      [nzBodyStyle]="{ overflow: 'auto' }"
      [nzMaskClosable]="false"
      [nzWidth]="720"
      [nzVisible]="visible"
      nzTitle="Traitement Ticket"
      [nzFooter]="footerTpl"
      
      (nzOnClose)="close($event)"
    >

    <div *nzDrawerContent>

      <nz-descriptions nzTitle="Information de l'ouverture Ticket" nzSize="small" nzBordered nzLayout="vertical">
        <nz-descriptions-item nzTitle="Demandeur">{{ticket?.requestor?.names}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Titre">{{ticket?.title_requestor}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Type d'incident">{{ticket?.type_incident_requestor?.name}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Priorité">{{ticket?.priority_requestor?.name}}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Description" nzTooltipTitle=ticket?.description_requestor nzTooltipPlacement="top">
          {{ticket?.description_requestor}}
        </nz-descriptions-item>
        <nz-descriptions-item nzTitle="Date de création">{{ ticket?.date_create | date:'dd/MM/yyy, h:mm' }}</nz-descriptions-item>
        <nz-descriptions-item nzTitle="Statut"><p class={{ticket?.status}} >{{ ticket?.status }}</p></nz-descriptions-item>
        <nz-descriptions-item nzTitle="criticité"><nz-rate  [ngModel]="ticket?.criticality_requestor"  nzDisabled></nz-rate></nz-descriptions-item>
        <nz-descriptions-item nzTitle="Delai de résolution">{{ticket?.delai_resolution_requestor +" H"}}</nz-descriptions-item>

      </nz-descriptions>

    <nz-divider nzText="Modification de ticket"></nz-divider>

      <form nz-form [formGroup]="validateForm" nz-space nzAlign="start" #myform="ngForm" >

        <div nz-row [nzGutter]="8">

          <div nz-col nzSpan="12">
            
            <nz-form-item>
              <nz-form-label  nzFor="type_incident" nzRequired>Type d'incident</nz-form-label>
              <nz-form-control  nzErrorTip="Vous devez selectionner le type d'incident">
                <nz-select
                  [(ngModel)]="type_incident_it"
                  id="type_incident"
                  formControlName="type_incident"
                  nzPlaceHolder="Selectionner le type d'incident"
                  (ngModelChange)="typeIncidentChange($event)" 
                >
                <nz-option *ngFor="let item of listTypeIncident; index as i"
                [nzValue]="item.id"
                nzLabel="{{item.name}}"
                >
                {{item.name}}
                </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

          </div>

          <div nz-col nzSpan="12">
           
            <nz-form-item>
              <nz-form-label  nzFor="priority" nzRequired>Priorité</nz-form-label>
              <nz-form-control nzErrorTip="Vous devez selectionner la priorité">
                <nz-select
                
                [(ngModel)]="priority_it"
                  id="priority"
                  formControlName="priority"
                  nzPlaceHolder="Selectionner la priorité de la demande"
                  (ngModelChange)="priorityChange($event)" 
                >
                <nz-option *ngFor="let item of listPriority; index as i"
                [nzValue]="item.id"
                nzLabel="{{item.name}}">
                {{item.name}}
                </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>

          </div>

        </div>


        <div nz-row [nzGutter]="8">

          <div nz-col nzSpan="12">
           
            <nz-form-item>
              <nz-form-label  nzFor="delai" nzRequired>Delai resolution (Par heure)</nz-form-label>
              <nz-form-control  nzErrorTip="Vous devez selectionner le delai de résolution (Par heure)">
                <nz-select
                [(ngModel)]="delai_it"
                  id="delai"
                  formControlName="delai"
                  nzPlaceHolder="Selectionner le delai de résolution estimé"
                  (ngModelChange)="delaiChange($event)" 
                 >
          
                  <nz-option *ngFor="let item of listDelaiResolution; index as i"
                  [nzValue]="item"
                nzLabel="{{item}}">
                {{item}}
                </nz-option>
          
                </nz-select>
              </nz-form-control>
            </nz-form-item>

          </div>

          <div nz-col nzSpan="12">
           
            <nz-form-item>
              <nz-form-label  nzFor="status" nzRequired>Status Ticket</nz-form-label>
              <nz-form-control  nzErrorTip="Vous devez selectionner le statut ticket">
                <nz-select
                  id="status"
                  formControlName="status"
                  nzPlaceHolder="Selectionner le status ticket"
                  (ngModelChange)="statusChange($event)"
                   >
          
                  <nz-option *ngFor="let item of listStatus"
                [nzValue]="item"
                nzLabel="{{item}}">
                {{item}}
                </nz-option>
          
                </nz-select>
              </nz-form-control>
            </nz-form-item>


          </div>

        </div>

        <div nz-row [nzGutter]="8">

          <div nz-col nzSpan="24">

            <nz-form-item>
              <nz-form-label  nzRequired>Titre</nz-form-label>
              <nz-form-control  nzHasFeedback nzValidatingTip="Validation..."  nzErrorTip="Svp entrez le titre du ticket">
                <input  nz-input formControlName="title_it" placeholder="Titre du ticket" name="title_it" (ngModelChange)="titleChange($event)" [(ngModel)]="title_it"/>
                <!-- <ng-template #userErrorTpl let-control>
                  <ng-container *ngIf="control.hasError('required')">Svp entrez le titre du ticket</ng-container>
                  <ng-container *ngIf="control.hasError('duplicated')">Le tritre est redondant</ng-container>
                </ng-template> -->
              </nz-form-control>
            </nz-form-item>


          </div>

       

        </div>

        <div nz-row [nzGutter]="8">

          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label>Description</nz-form-label>
              <nz-form-control id="description">
                <textarea (ngModelChange)="descriptionChange($event)"   formControlName="description" nz-input rows="3" placeholder="Saisissez votre description ici" name="description" [(ngModel)]="description"></textarea>
              </nz-form-control>
            </nz-form-item>

          </div>

        </div>

        <div nz-row [nzGutter]="8">

          <div nz-col nzSpan="24">
           
            <nz-form-item id="observation">
              <nz-form-label  nzRequired>Observation</nz-form-label>
              <nz-form-control id="observation" nzErrorTip="Svp entrez une observation">
                <textarea  (ngModelChange)="observationChange($event)"   formControlName="observation" nz-input rows="3" placeholder="Saisissez votre observation ici" name="observation" ngModel></textarea>
              </nz-form-control>
            </nz-form-item>

          </div>

        </div>

      </form>

    </div>

      <ng-template #footerTpl>
        <div style="float: right">
          <button nz-button style="margin-right: 8px;" (click)="close($event)">Annuler</button>
          <!-- <button nz-button nzType="primary" (click)="handleOk()">Enregistrer la modification</button> -->

          <button nz-button nzType="primary" (click)="handleOk($event)" [nzLoading]="isLoadingOne" >Enregistrer la modification</button>
        </div>

        <div style="float: left">
          <span  class="ant-rate-text">Criticité du ticket</span>
          <nz-rate [(ngModel)]="criticity_value" ></nz-rate>
        </div>
      </ng-template>

    </nz-drawer>


 <!-- Afficher le detail -->

 <nz-drawer
 [nzBodyStyle]="{ overflow: 'auto' }"
 [nzMaskClosable]="false"
 [nzWidth]="720"
 [nzVisible]="visible_view"
 nzTitle="Informations Ticket"
 [nzFooter]="footerTpReouvert"
 (nzOnClose)="closeView()"
>

<div *nzDrawerContent>

 <nz-descriptions nzTitle="Information de l'ouverture Ticket" nzSize="small" nzBordered nzLayout="vertical">
   <nz-descriptions-item nzTitle="Demandeur"> {{ticket?.requestor?.names}}</nz-descriptions-item>
   <nz-descriptions-item nzTitle="Titre">{{ticket?.title_requestor}}</nz-descriptions-item>
   <nz-descriptions-item nzTitle="Type d'incident">{{ticket?.type_incident_requestor?.name}}</nz-descriptions-item>
   <nz-descriptions-item nzTitle="Priorité">{{ticket?.priority_requestor?.name}}</nz-descriptions-item>
   <nz-descriptions-item nzTitle="Description" nzTooltipTitle=ticket?.description_requestor nzTooltipPlacement="top">
     {{ticket?.description_requestor}}
   </nz-descriptions-item>
   <nz-descriptions-item nzTitle="Date de création">{{ ticket?.date_create | date:'dd/MM/yyy, h:mm' }}</nz-descriptions-item>
   <nz-descriptions-item nzTitle="Statut"><p class={{ticket?.status}} >{{ ticket?.status }}</p></nz-descriptions-item>
   <nz-descriptions-item nzTitle="criticité"><nz-rate  [ngModel]="ticket?.criticality_requestor"  nzDisabled></nz-rate></nz-descriptions-item>
   <nz-descriptions-item nzTitle="Delai de résolution">{{ticket?.delai_resolution_requestor +" H"}}</nz-descriptions-item>
 </nz-descriptions>


 <nz-divider nzText="Informations du ticket après modification"></nz-divider>

 <nz-descriptions nzTitle="Informations après traitement du Ticket" nzSize="small" nzBordered nzLayout="vertical">
  <nz-descriptions-item nzTitle="Demandeur">{{ticket?.requestor?.names}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Titre">{{ticket?.status!="Ouvert" ? ticket?.title_requestor:"Aucun"}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Type d'incident">{{ticket?.status!="Ouvert" ? ticket?.type_incident_it?.name:"Aucun"}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Priorité">{{ticket?.status!="Ouvert" ? ticket?.priority_it?.name:""}}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Description" nzTooltipTitle=ticket?.description_requestor nzTooltipPlacement="top">
    {{ticket?.status!="Ouvert" ? ticket?.description_it:"Aucun"}}
  </nz-descriptions-item>
  <nz-descriptions-item nzTitle="Date de création">{{ticket?.status!="Ouvert" ? (ticket?.date_create | date:'dd/MM/yyy, h:mm') :"Aucun" }}</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Statut"><p class={{ticket?.status}} >{{ ticket?.status }}</p></nz-descriptions-item>
  <nz-descriptions-item nzTitle="criticité"><nz-rate  [ngModel]="ticket?.criticality_requestor"  nzDisabled></nz-rate></nz-descriptions-item>
  <nz-descriptions-item nzTitle="Delai de résolution">{{ticket?.status!="Ouvert" ? ticket?.delai_resolution_requestor +" H" :"Aucun"}}</nz-descriptions-item>
</nz-descriptions>

</div>


<ng-template #footerTpReouvert>
  <div style="float: right">
    <!-- <button nz-button nzType="primary" (click)="reOpenTicket()">Réouvrir Ticket</button> -->
    <button nz-button style="margin-right: 8px;" (click)="closeView()">Fermer</button>
    <button *ngIf="ticket?.status!='Ouvert' && getProfilUser()==1"  nz-button nzType="primary" (click)="reOpenTicket()" [nzLoading]="isLoadingOne">
      <!-- <i nz-icon nzType="poweroff"></i> -->
      Réouvrir Ticket
    </button>
  </div>

</ng-template>

</nz-drawer>



