.Ouvert{
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    width: 60px;
    height: 25px;
    text-align: center;
    padding: 2px;
}


.Suspens{
    border-radius: 5px;
    background-color: coral;
    color: white;
    width: 60px;
    height: 25px;
    text-align: center;
    padding: 2px;
}


.Resolu{
    border-radius: 5px;
    background-color:forestgreen;
    color: white;
    width: 60px;
    height: 25px;
    text-align: center;
    padding: 2px;
}


.Cloture{
    border-radius: 5px;
    background-color: forestgreen;
    color: white;
    width: 60px;
    height: 25px;
    text-align: center;
    padding: 2px;
}

.info-ticket{
    background-color: dodgerblue;
    color: white;
    height: 40px;
    width: 100%;
    margin: 10px;
    text-align: center;
}

.open-link_update-ticket{
width: 35px;
height: 35px;
padding: 10px;
border-radius: 10px ;
border: 1px solid #3B77C6;
}

.open-link_update-ticket:hover{
    width: 38px;
    height: 38px;
    padding: 8px;
    border-radius: 10px ;
    border: 1px solid #2B7AE2;
}

.bolder-header-description { font-weight: bold; }


::ng-deep .ant-descriptions-item-label {
    font-weight: bold;
}
::ng-deep .ant-form-item-label {
    text-align: left;
    display: block;
}
::ng-deep .ant-select {
    display: block;
}
::ng-deep .ant-form-item {
    display: block;
    margin-bottom: 0px;
}

::ng-deep .ant-form-item> .textarea.ant-input {
    
    margin-top: 5px;
}

#description{
    margin-top: 10px;  
}
#observation{
    margin-top: 10px;  
}