<button nz-button nzType="primary" (click)="showModal()">
  <span>Show Modal</span>
</button>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Modal Title"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading">
  
  <p *nzModalContent>Modal Content</p>
</nz-modal>
