<div nz-row>

  <div nz-col nzFlex="2.5">

    <nz-table [nzLoading]="loading" #filterTable [nzData]="listOfData" nzTableLayout="fixed">
      <thead>
        <tr>
          <th
            *ngFor="let column of listOfColumns"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzSortDirections]="column.sortDirections"
            [nzFilterMultiple]="column.filterMultiple"
            [nzFilters]="column.listOfFilter"
            [nzFilterFn]="column.filterFn"
          >
            {{ column.name }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of filterTable.data; let i = index">
          <td>{{ data.name }}</td>
          <td>{{ data.site.name }}</td>
        </tr>
      </tbody>
    </nz-table>

  </div>



  <div nz-col nzFlex="2.5">

    <form nz-form [formGroup]="validateForm" nz-space nzAlign="start" class="space-align-block border-left-from" #myform="ngForm">

      <p class="bold-p">
        Nouvelle direction
     </p>

     <nz-form-item nzJustify='center' >
      <nz-form-label [nzSpan]="0" nzFor="site" nzRequired>Site</nz-form-label>
      <nz-form-control [nzSpan]="0" nzErrorTip="Vous devez selectionner un site">
        <nz-select 
          id="site"
          formControlName="site"
          nzPlaceHolder="Selectionner le site"
          (ngModelChange)="siteChange($event)"      >
          <nz-option *ngFor="let item of listSite; index as i"
          [nzValue]="item.id"
          nzLabel="{{item.name}}"
         
          >
          {{item.name}}
          </nz-option>
        
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    
      <nz-form-item nzJustify='center'>
        <nz-form-label [nzSpan]="0" nzFor="site" nzRequired>Direction</nz-form-label>
        <nz-form-control [nzSpan]="0" nzHasFeedback nzValidatingTip="Validation..." [nzErrorTip]="userErrorTpl">
          <input nz-input formControlName="name" placeholder="Nom de la direction" name="name" ngModel/>
          <ng-template #userErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">Svp entrez le nom de la direction</ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>
    
      <nz-form-item nz-row class="register-area p-button">
        <nz-form-control [nzSpan]="0" [nzOffset]="0">
          <!-- <button nz-button nzType="primary" (click)="add(myform,$event)" name="Submit" value="Login" type="button">Enregistrer</button> -->

          <button nz-button nzType="primary" (click)="add(myform,$event)" name="Submit" value="Login" type="button" [nzLoading]="isLoadingOne">
            <!-- <i nz-icon nzType="poweroff"></i> -->
            Enregistrer
          </button>
          <button nz-button (click)="resetForm($event)" style="margin-left: 10px;">Réinitialiser</button>
        </nz-form-control>
      </nz-form-item>
    </form>


  </div>


</div>




