.w-inp{
    width: 100%;
  }

  .p-button{
    padding-top: 20px;
  }

  .p-inp{
    margin-right: 0px;
  }

  .border-left-from {
    margin-left: 30px;
  border-left: 1px solid rgb(219, 215, 215);
  padding-left: 50px;
  padding-right: 50px;
  }

  .bold-p {
    font-weight: bold;
    font-size: 30px;
    margin:0 auto;
    margin-bottom: 20px;
  }


  ::ng-deep .ant-form-item-label {
    text-align: left;
    display: block;
  }
  ::ng-deep .ant-select {
    display: block;
  }
  ::ng-deep .ant-form-item {
    display: block;
    margin-bottom: 0px;
  }