<form nz-form [formGroup]="validateForm" nz-space nzAlign="start" class="space-align-block border-left-from" #myform="ngForm">

  <p class="bold-p">
    Nouveau demandeur
 </p>

  <nz-form-item nzJustify='center'>
    <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validation..." [nzErrorTip]="userErrorTpl">
      <input nz-input formControlName="names" placeholder="Nom complet demandeur" name="names" ngModel/>
      <ng-template #userErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Svp entrez le nom complet du demandeur</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary" (click)="add(myform,$event)" name="Submit" value="Login" type="button">Enregistrer</button>
      <button nz-button (click)="resetForm($event)" style="margin-left: 10px;">Réinitialiser</button>
    </nz-form-control>
  </nz-form-item>
</form>