.w-inp{
    width: 100%;
  }

  .p-inp{
    margin-right: 0px;
  }

  .border-left-from {
    margin-left: 120px;
    border-left: 1px solid rgb(219, 215, 215);
  }

  .bold-p {
    font-weight: bold;
    font-size: 30px;
    margin:0 auto;
   text-align: center;
    margin-bottom: 20px;
  }