<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Gestion de Ticket</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Menu" nzIcon="appstore">
        <ul>
      
          <li nz-menu-item nzMatchRouter *ngIf="profil===1 || profil==2 || profil===3">
            <a routerLink="home/ticket-process"><i nz-icon nzType="container" nzTheme="outline" routerLinkActive="active" ></i> Nouveau Ticket</a>
          </li>
          <li nz-menu-item nzMatchRouter *ngIf="profil===1 || profil===2">
            <a routerLink="home/ticket-done"><i nz-icon nzType="file-done" nzTheme="outline"></i> Liste de Tickets</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Paramétrage" nzIcon="setting" *ngIf="profil===1">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="config-system"><i nz-icon nzType="pull-request" nzTheme="outline"></i> Configuration système</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="config-account"><i nz-icon nzType="control" nzTheme="outline"></i> Configuration Compte</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>

    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>

  </nz-layout>
</nz-layout>
