
 .outer-content {
    padding: 0 50px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  .inner-layout {
    padding: 24px 0;
    background: #fff;
  }

  .sider-menu {
    height: 100%;
  }

  .inner-content {
    padding: 0 24px;
    min-height: 280px;
  }

  nz-footer {
    text-align: center;
  }