<nz-layout>
 
    <nz-breadcrumb style="margin-left: 10px;">
      <nz-breadcrumb-item>Paramètres</nz-breadcrumb-item>
      <nz-breadcrumb-item>{{sub_link_menu}}</nz-breadcrumb-item>
     
    </nz-breadcrumb>

    <nz-layout class="inner-layout">
      <nz-sider nzWidth="200px" nzTheme="light">
        <ul nz-menu nzMode="inline" class="sider-menu">
          <li nz-menu-item nzSelected (click)="changeMenu('Site')" routerLinkActive="active"><a routerLink="site"><i nz-icon nzType="insert-row-right" nzTheme="outline"></i> Site / Demandeur</a></li>
          <li nz-menu-item  (click)="changeMenu('Direction')" ><a routerLink="direction"><i nz-icon nzType="cluster" nzTheme="outline"></i> Direction / Demandeur</a></li>
          <li nz-menu-item (click)="changeMenu('Type Incident')"><a routerLink="type-incident"><i nz-icon nzType="thunderbolt" nzTheme="outline" ></i> Type Incident / Ticket</a></li>
          <li nz-menu-item (click)="changeMenu('Priorité')"><a routerLink="priority"><i nz-icon nzType="star" nzTheme="outline"  ></i> Priorité /Ticket</a></li>
        </ul>
      </nz-sider>
      <nz-content class="inner-content">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>


</nz-layout>