<div nz-row>
  <div nz-col nzFlex="2.5"> <app-type-incident-list-item [listOfData]="listOfData"></app-type-incident-list-item></div>
  <div nz-col nzFlex="2.5"> <app-type-incident-new (newTypeIncidentEvent)="addItem($event)"></app-type-incident-new></div>
</div>