<div nz-row>
  <div nz-col nzFlex="2.5"> <app-priority-list-item [listOfData]="listOfData"></app-priority-list-item></div>
  <div nz-col nzFlex="2.5"> <app-priority-new (newPriorityEvent)="addItem($event)"></app-priority-new></div>
</div>

